In [1]:
import pandas as pd 
import numpy as np 
import random

In [13]:
data={'國家':["Taiwan","American","China","Japan","South Korea","Thailand"] ,
        '人口':np.random.randint(10**6,10**9,size=6)}
pp=pd.DataFrame(data)
print(pp)

            國家         人口
0       Taiwan  123377980
1     American   47437543
2        China   25862264
3        Japan  502327624
4  South Korea  178296227
5     Thailand  310303277

In [15]:
#最大值
maxs=pp["人口"].max()
print("Max:")
print(maxs)

Max:
502327624

In [5]:
data = {'weekday':['Sun','Sun','Mon','Mon'],'city':['Austin', 'Dallas', 'Austin', 'Dallas'],'visitor':[139,237,326,456]}

In [6]:
pp=pd.DataFrame(data)
print(pp)

  weekday    city  visitor
0     Sun  Austin      139
1     Sun  Dallas      237
2     Mon  Austin      326
3     Mon  Dallas      456

In [7]:
cities=['Austin', 'Dallas', 'Austin', 'Dallas']
weekdays=['Sun','Sun','Mon','Mon']
visitors=[139,237,326,456]
        
list_labels=['city','weekday','visitor']
list_cols=[cities,weekdays,visitors]
z=list(zip(list_labels,list_cols))
#zip:将对象中对应的元素打包成一个个元组，然后返回由这些元组组成的列表

In [8]:
visitor_2=pd.DataFrame(dict(z))
print(visitor_2)

     city weekday  visitor
0  Austin     Sun      139
1  Dallas     Sun      237
2  Austin     Mon      326
3  Dallas     Mon      456

In [9]:
pp.groupby(by="weekday")['visitor'].mean()

weekday
Mon    391
Sun    188
Name: visitor, dtype: int64